@using sber.Data.Enum;
@using sber.ViewModels;
@model CreateTicketViewModel

@{
	ViewData["Title"] = "Создать";
}

<form method="post" asp-action="Create" enctype="multipart/form-data">
	<input type="hidden" id="EmployeeId" name="EmployeeId" asp-for="EmployeeId" />
	<div class="form-group">
		<label asp-for="Title">Наименование</label>
		<input asp-for="Title" class="form-control" placeholder="Наименование">
		<span asp-validation-for="Title" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Description">Описание</label>
		<input asp-for="Description" class="form-control" placeholder="Описание">
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Status">Статус</label>
		<select asp-for="Status" disabled="true" class="form-control" asp-items="@Html.GetEnumSelectList<TicketStatus>()">
			<option>--Выбрать--</option>
		</select>
		<span asp-validation-for="Status" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Priority">Приоритет</label>
		<select asp-for="Priority" class="form-control" asp-items="@Html.GetEnumSelectList<TicketPriority>()">
			<option>--Выбрать--</option>
		</select>
		<span asp-validation-for="Priority" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="PublishingDate">Дата публикации</label>
		<input type="date" readonly asp-for="PublishingDate" class="form-control" placeholder="Дата публикации">
		<span asp-validation-for="PublishingDate" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="PlannedDate">Плановая дата</label>
		<input type="date" asp-for="PlannedDate" class="form-control" placeholder="Плановая дата">
		<span asp-validation-for="PlannedDate" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Address">Адрес</label>
		<input asp-for="Address" class="form-control" placeholder="Адрес">
		<span asp-validation-for="Address" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary m-2">Создать</button>
</form>



@*
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyCagdShLqeTlbjGE0dH83n9GTwejG7fHTg"></script>
	<script>
		google.maps.event.addDomListener(window, 'load', function(){
			var options = {
				types: ['(cities)'],
				componentRestrictions: {country: "in"}
			};
			var input = document.getElementById('Address');
			var places = new google.maps.places.Autocomplete(input, options);
		});
	</script>
}*@