@using sber.ViewModels
@model RegisterViewModel

@{
	ViewData["Title"] = "Регистрация";
}

@*<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Sign up for a new account</h4>
        </p>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Sign up" />
                        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
*@

<div class="container py-5 h-100">
	<div class="row d-flex justify-content-center align-items-center h-100">
		<div class="col-12 col-md-8 col-lg-6 col-xl-5">
			<div class="card shadow-2-strong" style="border-radius: 1rem;">
				<div class="card-body p-5 text-center">
					<h3 class="mb-5">Зарегистрируйте свой аккаунт</h3>
					@if (TempData["Error"] != null)
					{
						<div class="col-md-12 alert alert-danger">
							<span><b>Sorry!</b> - @TempData["Error"] </span>
						</div>
					}
					<form asp-action="Register">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="form-group m-2">
							<label asp-for="Surname" class="control-label"></label>
							<input asp-for="Surname" class="form-control rounded-pill" />
							<span asp-validation-for="Surname" class="text-danger"></span>
						</div>
						<div class="form-group m-2">
							<label asp-for="Name" class="control-label"></label>
							<input asp-for="Name" class="form-control rounded-pill" />
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
						<div class="form-group m-2">
							<label asp-for="Patronymic" class="control-label"></label>
							<input asp-for="Patronymic" class="form-control rounded-pill" />
							<span asp-validation-for="Patronymic" class="text-danger"></span>
						</div>
						<div class="form-group m-2">
							<label asp-for="EmailAddress" class="control-label"></label>
							<input asp-for="EmailAddress" class="form-control rounded-pill" />
							<span asp-validation-for="EmailAddress" class="text-danger"></span>
						</div>
						<div class="form-group m-2">
							<label asp-for="Password" class="control-label"></label>
							<input asp-for="Password" class="form-control rounded-pill" />
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
						<div class="form-group m-2">
							<label asp-for="ConfirmPassword" class="control-label"></label>
							<input asp-for="ConfirmPassword" class="form-control rounded-pill" />
							<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
						</div>

						<div class="form-group m-2">
							<input class="btn btn-outline-success float-right rounded-pill" type="submit" value="Зарегистрироваться" />

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
